.links {


    &__category {

        //display: flex;
        //flex-direction: column;
        //align-items: left;
        @include respond(medium) {
            text-align: center;
        }

        & h2 {
            font-size: 1.4rem;
            color: gray;
            margin-bottom: 35px;
            border-bottom: 1px solid rgb(216, 216, 216);
      
        }
    }

    &__category:not(first-child) {
        margin-top: 50px;
    }

    &__dark {

        .links-expo__link {
            background-color: $main-dark;
            box-shadow:         0px 3px 15px 0px rgb(0, 0, 0);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
            
            * {
                color: $main-light;
            }
        }
    }
    
}

.links-expo {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 300px));
    justify-content: left;
    gap: 50px; 
    width: 100%;

    @include respond(medium) {
        justify-content: center;
    }
  
      &__link {
          display: flex;
          flex-direction: column;
          //justify-content: end;
          align-items: center;
          //height: 150px;
          text-align: center;
          padding: 20px;
          //border-radius: 15px;
          background-color: #FFFFFD;
          position: relative;
          margin-top: 70px;
          border-bottom: 2px solid rgb(0, 0, 0);
          box-shadow:         0px 3px 15px 0px rgb(221, 221, 221);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */


          & img,
          &__pin 
          {
              z-index: 3;
              position: absolute;
              object-fit: cover;
              height: 150px;
              width: 150px;
              border-radius: 50%;
              top: -70px;
              transition: all .4s ease-out;
              filter: sepia(15%)  
          }

          &__pin {
              display: flex;
              opacity: 0;
              align-items: center;
              justify-content: center;
          }
          
        &:hover {
            cursor: pointer;
            //border-radius: 10px;
            transform: scale(1.05);
            //height: 300px;
            border-bottom: 2px solid rgb(177, 40, 154);

        }          
          
        &:hover h3 {
            color: rgb(209, 32, 180);
            //margin-left: 25px;
        }

        &:hover .link-speek {
            display: inline;
            fill: black;
        }

        &:hover .links-expo__link__pin {
            background-color: rgba(224, 224, 224, .5);
            opacity: 1;
        }

        & h3 {
            //position: absolute;
            //bottom: 30px;
            display: flex;
            align-items: center;
            margin-top: 80px;
            margin-bottom: 5px;
            font-size: 1.2rem;
            //color: rgb(5, 5, 5);
            padding: 0 8%;
            transition: 0s;


            & svg {
                display: none;
                height: 15px;
                width: 15px;
                min-height: 15px;
                min-width: 15px;
                margin-left: 10px;
                &:hover {
                    transform: scale(1.1);
                }            
                &:active {
                    transform: scale(1);
                }
            }
        }

        & p {
            font-size: 1rem;
        }

        span {
            font-size: .9rem;
            font-style: italic;
            color: whitesmoke;
            padding: 0 8%;
        }

        .dottt { 
            position: absolute;
            width: 10px;
            height: 10px;
            top: 15px;
            left: 15px;
            fill: rgb(177, 40, 154);
        }
  
        .link-speek { 
            //display: none;
            transition: .02s;

            fill: rgb(220, 220, 220);
            position: absolute;
            width: 15px;
            height: 15px;
            top: 15px;
            right: 15px;
            &:hover {
                transform: scale(1.1);
            }            
            &:active {
                transform: scale(1);
            }
        }
      }
  
  
  }
  
.pinsvg {
    position: relative;;
    opacity: 1.3;
    width: 30px;
    height: 30px;
    fill: rgb(24, 24, 24);
    //stroke-width:10px;
    background-color: rgba(255, 255, 253, 0.8);
    padding: 15px;
    border-radius: 50%;
    &:hover {
        transform: scale(1.1);
    }            
    &:active {
        transform: scale(1);
    }
}

.pinsvg--pinned {
    //background-color: rgba(255, 125, 125, 0.8);
    transform: rotate(-45deg);
    &:hover {
        transform: rotate(-45deg) scale(1.1);
    }   
    &:active {
        transform: scale(1);
    }
    
}