.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 25px;
    z-index: 500;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100vw;
    background-color: #F9F9F9;
    box-shadow: 5px 10px 15px -3px  rgba(95, 95, 95, 0.15);
    border-bottom: 2px solid rgb(207, 44, 180);


    & svg {
        height: 25px;
        width: 25px;
    }

    & span {
        font-size: 1.6rem;
        font-weight: 600;
    }

    & a {
        font-size: 1.2rem;
        font-weight: 500;
    }

    * {
        margin: 0 25px;
    }
}