$grey-lightest: #E5E5E5;
$grey-lighter: #F5F5F5;
$grey-light: #EDEDED;
$grey-medium: #e0e0e0;
$grey-dark: #cecece;
$grey-darker: #616161;
$grey-darkest: #3d3d3d;

$red-medium: #f44336;


$main-light: #FFFFFD;
$main-dark: rgb(34, 34, 29);
$main-pink: rgb(207, 44, 180);

$main-shortcut: rgb(176, 236, 184);
$main-portal: rgb(176, 236, 184);
$main-news: lightblue;
$main-event: rgb(253, 255, 159);