.home {
    margin-top: 120px;

    &__welcome {
        display: flex;
        grid-gap: 50px;
        justify-content: center;
        //grid-auto-columns: 1fr 4fr;
        //grid-auto-rows: 200px;
        align-items: center;
        //margin-top: 130px;
        padding: 20px;
        
        @include respond(medium) {
            flex-direction: column;
        }

        &-message {
            font-size: 1.4rem;
            font-weight: 400;
        }
        &-day {
            font-size: 1.2rem;
        }
        &-quote {
            z-index: 50;
            max-width: 800px;
            font-size: 1.2rem;
            font-weight: 400;
            font-style: italic;
        }


        &-left {
            //background-color: orangered;
            //grid-column: 1 / 2;
            //grid-row: 1;
            text-align: right;
            @include respond(medium) {
                text-align: center;
            }
    
        }
        &-right {
            //background-color: yellowgreen;

            position: relative;
            //grid-column: 2 / 3;
            //grid-row: 1;

        }
        
        &__quote-start {
            //z-index: -0;
            position: absolute;
            fill: rgb(240, 240, 240);
            height: 50px;
            width: 50px;
            top: -20px;
            left: -20px;
            z-index: -1;

        }
        &__quote-end {
            position: absolute;
            fill: rgb(240, 240, 240);
            height: 50px;
            width: 50px;
            bottom: -10px;
            right: -20px;
            z-index: -1;

        }
        
    }
}


.section {
    margin-top: 50px;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;

        & h2 {
            font-size: 1.8rem;
            margin-left: 30px;
        }
        & svg {
            width: 20px;
            margin-left: 10px;
        }
    }

    &__content {
        margin-top: 25px;
    }

}

.shortcut {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 125px;
    //background-color: rgb(219, 219, 219);
    margin: 10px 10px 50px;
    transition: all .2s ease;
    //color: rgb(100, 100, 100);

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    &:active {
        transform: scale(1.05);
    }

    & img {
        height: 75px;
        width: 75px;
        border-radius: 50%;
    }

    & svg {
        height: 30px;
        width: 30px;
        //border-radius: 50%;
        //background-color: rgb(219, 219, 219);
        
        fill: rgb(100, 100, 100);
    }
    
    & span {
        margin-top: 10px;
        font-size: 1rem;
        font-weight: bold;
    }

    &__edit-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        width: 75px;
        border-radius: 50%;
        background-color: rgb(219, 219, 219);
    }
}

.shortcut-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));    

}


.combo {
    display: flex;

    &--left {
        flex: 3;
    }
    &--right {
        flex: 1;
    }
}