.home {

    &__welcome {
        display: flex;
        grid-gap: 25px;
        justify-content: center;
        align-items: center;
        margin-top: 130px;
        //background-color: whitesmoke;
        padding: 20PX;
        border-radius: 25px;

        &-message {
            font-size: 1.4rem;
            font-weight: 400;
        }
        &-day {
            font-size: 1.2rem;
        }
        &-quote {
            z-index: 5000000000;
            max-width: 800px;
            font-size: 1.2rem;
            font-weight: 400;
            font-style: italic;
        }
        &-left {
            text-align: right;
        }
        &-right {
            position: relative;
            & svg {
                fill: rgb(226, 226, 226);
                height: 50px;
                width: 50px;
            }
        }

        &__quote-start {
            z-index: -0;
            position: absolute;;
            margin-top: -20px;
        }
        &__quote-end {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}


.section {
    margin-top: 50px;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;

        & h2 {
            font-size: 1.8rem;
            margin-left: 30px;
        }
        & svg {
            width: 20px;
            margin-left: 10px;
        }
    }

    &__content {
        margin-top: 25px;
    }

}

.shortcut {
    display: flex;
    width: 75px;
    height: 75px;
    background-color: rgb(219, 219, 219);
    margin: 10px;
    border-radius: 50%;
    transition: all .2s ease;
    overflow: hidden;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    &:active {
        transform: scale(1.05);
    }

    & img {
        height: 100%;
        width: 100%;
    }

    & svg {
        display: block;
        height: 30px;
        width: 30px;
        margin: auto;
        fill: rgb(73, 73, 73);
    }
}


.combo {
    display: flex;

    &--left {
        flex: 3;
    }
    &--right {
        flex: 1;
    }
}