* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Lora', serif;
    font-size: .9rem;
    transition: .2s ease;
    

}

.root {
}

.body {    

    //display: flex;
    //height: 100%;
    //width: 100%;
    overflow: hidden;

}

.content {
    margin-top: 75px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
        //background-color: lightgreen;

}

.noScroll {
    height: 100%;
    overflow: hidden;    
}

.text {
    &--medium {
        font-size: 1.6rem;
    }
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}


.divider {
    height: 1px;
    width: 90%;
    margin: 20px auto 10px;
    background-color: rgb(206, 206, 206);
    border: none;

}

.input-text {
    border: none;
    outline: none;
}