* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Lora', serif;
    font-size: .9rem;
    transition: .2s ease;
    z-index: 1;
    scroll-behavior: smooth;

    @include respond(medium) {
        font-size: 62%;
    }
    @include respond(small) {
        font-size: 61%;
    }

    * button {
        background-color: inherit;
        border: none;
        opacity: inherit;
    }
}



.root {
    background-color: $main-light;
    color: $main-dark;
    //padding-top: 100px;

    &__dark {
        background-color: $main-dark;
        color: $main-light;
    }
}

.body {    

    //display: flex;
    //height: 100%;
    //width: 100%;
    //overflow: hidden;

}

.content {
    //padding-top: 75px;
    position: relative;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
        //background-color: lightgreen;

}

.noScroll {
    height: 100%;
    overflow: hidden;    
}

.text {
    &--medium {
        font-size: 1.6rem;
    }
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;;
}


.divider {
    height: 1px;
    width: 90%;
    margin: 20px auto 10px;
    background-color: rgb(206, 206, 206);
    border: none;

}

.input-text {
    border: none;
    outline: none;
}

.button {
    cursor: pointer;
    height: 20px;
    width: 20px;
    &:hover {
        transform: scale(1.1);
    }            
    &:active {
        transform: scale(1);
    }

    &--disabled {
        cursor: pointer;
        fill: lightgray;
        &:hover {
            transform: none;
        }            
        &:active {
            transform: none;
        }
    }

    &-small {
        cursor: pointer;
        height: 10px;
        width: 10px;
        &:hover {
            transform: scale(1.1);
        }            
        &:active {
            transform: scale(1);
        }
    }

    &--large {
        cursor: pointer;
        height: 30px;
        width: 30px;
        &:hover {
            transform: scale(1.1);
        }            
        &:active {
            transform: scale(1);
        }
    }
}

